html, body {
	position: absolute;
	overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.Welcome {
    color: slategray;
}
.header {
    height: 10vh;
    z-index: 0;
}

nav {
    width: 100%;
    height: 100%;
}

.navLink {
    box-sizing: border-box;
    padding: 10px;
}

#BeachSceneWrapper {
    user-select: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 100;
}

#BeachSceneRelative {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

#WaveTrans {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #0CB2CB;
    height: 0;
    transition: height 1s ease-in-out;
}

#WaveTrans.WaveTransStretch {
    height: calc(100vh + 10vh);
}



.surfboard {
    background-image: url('../../assets/Surfboard.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.PageContainer {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.PageContainerTrans {
    opacity: 1;
}

#LightBlueWave {
    position: absolute;
    background-repeat: repeat-x;
    top: -5vh;
    left: 0;
    width: 8000px;
    height: 5vh;
    opacity: .7;
    background-position: top left;
    background-size: 4000px 5vh;
    animation: Waves 25s linear reverse infinite;
}

#DarkBlueWave {
    position: absolute;
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    width: 8000px;
    height: 5vh;
    opacity: 1;
    background-position: top left;
    background-size: 4000px 5vh;
    animation: Waves 20s linear infinite;
}

.ButtonWave {
    z-index: 0;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 242, 198);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background-color .25s ease-in-out;
}
.ButtonWave:last-child {
    margin-right: 10px
}
.ButtonWave:focus {
    background-color: lightpink;
}
.ButtonWave:hover {
    background-color: rgb(255, 242, 198);
}

.MenuText {
    color: #ff9800;
    font-size: 30px;
    font-family: fancy;
    vertical-align: center;
    text-align: center;
    padding: 0;
    margin: 0;

}

.DarkBlueWave-btn {
    z-index: 1;
    position: absolute;
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 25px;
    opacity: 1;
    background-position: top left;
    background-size: 500px 25px;
    animation: MiniWaves 10s linear infinite;
}

.LightBlueWave-btn {
    z-index: 1;
    position: absolute;
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 25px;
    opacity: 1;
    background-position: top left;
    background-size: 500px 25px;
    animation: MiniWaves 15s linear infinite;
}

.SelectedButton {
    background-color: white;
}

#Island {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 10vh;
}

#Umbrella {
    position: absolute;
    height: 5vh;
    right: 15vh;
    bottom: 5vh;
}

#Umbrella > img {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 10vh;
}

@keyframes Waves {
    0% { 
        transform: translate3d(0, 0, 0);
    }
    100% { transform: translate3d(-4000px, 0, 0); }
}
@keyframes MiniWaves {
    0% { 
        transform: translate3d(0, 0, 0);
    }
    100% { transform: translate3d(-500px, 0, 0); }
}

@media only screen and (max-width: 600px) {
    @keyframes tiny {
        0% { 
            transform: translate3d(0, 0, 0);
        }
        100% { transform: translate3d(-250px, 0, 0); }
    }

    .ButtonWave {
        z-index: 0;
        display: block;
        position: relative;
        overflow: hidden;
        background-color: rgb(255, 242, 198);
        height: 50px;
        border-radius: 10px;
        border: none;
        transition: background-color .25s ease-in-out;
    }
    .ButtonWave:last-child {
        margin-right: 3vw;
    }
    .ButtonWave:first-child {
        margin-left: 3vw;
    }
    .ButtonWave:focus {
        background-color: lightpink;
    }
    .ButtonWave:hover {
        background-color: rgb(255, 242, 198);
    }
    .MenuText {
        color: #ff9800;
        font-size: 20px;
        font-family: fancy;
        vertical-align: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .SelectedButton {
        background-color: white;
    }

    .DarkBlueWave-btn {
        z-index: 1;
        position: absolute;
        background-repeat: repeat-x;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 12.5px;
        opacity: 1;
        background-position: top left;
        background-size: 250px 12.5px;
        animation: tiny 10s linear infinite;
    }

    .LightBlueWave-btn {
        z-index: 1;
        position: absolute;
        background-repeat: repeat-x;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 12.5px;
        opacity: 1;
        background-position: top left;
        background-size: 250px 12.5px;
        animation: tiny 15s linear infinite;
    }
        
    #BeachSceneWrapper {
        position: absolute;
        bottom: 0;
        width: 100vw;
        z-index: 100;
    }
    
    #BeachSceneRelative {
        position: relative;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
    }

    
    #Island {
        position: absolute;
        height: 10vh;
        right: 0;
        bottom: 0;
    }
    
    #Island > img {
        width: auto;
        height: 10vh;
    }
    
    #Umbrella {
        height: 5vh;
        bottom: 8vh;

    }

    #Umbrella > img {
        width: auto;
        height: 5vh;
    }

  }
