<!DOCTYPE html>
<html>
  <head>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Primary Meta Tags -->
    <title>LaVidaDev - Living the dev life</title>
    <meta name="title" content="LaVidaDev - Living the dev life">
    <meta name="description" content="This is a collection of my projects and little stories. Dev is what I have been doing since I was a young clueless kid, and now a grown clueless adult. Join me on this wild adventure.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lavida.dev/">
    <meta property="og:title" content="LaVidaDev - Living the dev life">
    <meta property="og:description" content="This is a collection of my projects and little stories. Dev is what I have been doing since I was a young clueless kid, and now a grown clueless adult. Join me on this wild adventure.">
    <meta property="og:image" content="summberblog.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://lavida.dev/">
    <meta property="twitter:title" content="LaVidaDev - Living the dev life">
    <meta property="twitter:description" content="This is a collection of my projects and little stories. Dev is what I have been doing since I was a young clueless kid, and now a grown clueless adult. Join me on this wild adventure.">
    <meta property="twitter:image" content="summberblog.png">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
